/*
  LIST ITEMS
*/

.container .pg-title {
  margin-left: -15px;
}
ul {
  list-style-type: square;
  margin-left: 30px;
}
ul li {
  margin: 20px;
}

h2 {
  margin-left: -15px;
  line-height: 0;
  padding-bottom: 15px;
  padding-top: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,255);
}

img {
  width: 75%;
  padding: 10px;
}

code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}